GNSS_Multipath_Project/data/**/*.txt filter=lfs diff=lfs merge=lfs -text
GNSS_Multipath_Project/data/**/*.nmea filter=lfs diff=lfs merge=lfs -text
GNSS_Multipath_Project/data/**/*.kml filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-14-US-MTV-1/Pixel4XLModded_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-14-US-MTV-1/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-14-US-MTV-2/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-21-US-MTV-1/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-21-US-MTV-1/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-21-US-MTV-2/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-21-US-MTV-2/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-29-US-MTV-1/Pixel4XLModded_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-29-US-MTV-1/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-29-US-MTV-1/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-29-US-MTV-2/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-05-29-US-MTV-2/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-06-04-US-MTV-1/Pixel4XLModded_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-06-04-US-MTV-1/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-06-04-US-MTV-1/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-06-05-US-MTV-1/Pixel4XLModded_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-06-05-US-MTV-1/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-06-05-US-MTV-1/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-06-05-US-MTV-2/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-06-05-US-MTV-2/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-06-11-US-MTV-1/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-06-11-US-MTV-1/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-07-08-US-MTV-1/Pixel4XLModded_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-07-08-US-MTV-1/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-07-08-US-MTV-1/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-09-04-US-SF-1/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-09-04-US-SF-1/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-09-04-US-SF-2/Pixel4XL_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
/GNSS_Multipath_Project/data/01_raw/2020-09-04-US-SF-2/Pixel4_GnssLog.txt filter=lfs diff=lfs merge=lfs -text
